{% extends "base.html" %}
{% block tittle %}
Ori | Nuevo participante
{% endblock %}

{% block open_RRHH%}-open{% endblock %}

{% block active_module_RRHH%}
active
{% endblock %}

{% block active_nuevo_participante%}
active
{% endblock %}

{% block titulo_main %}
Nuevo participante
{% endblock %}

{% block path_main %}
<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
<li class="breadcrumb-item active">nuevo_participante</li>
{% endblock %}

{% block main %}

<section class="content">
    <form method="POST" class="post-form" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">

            <div class="col-md-6">
                <div class="card card-teal">
                    <div class="card-header">
                        <h3 class="card-title">Añadir nuevo participante</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            {{form.username.label_tag}}
                            {{form.username}}
                            {{form.errors.username}}
                        </div>
                        <div class="form-group">
                            {{form.first_name.label_tag}}
                            {{form.first_name}}
                            {{form.errors.first_name}}
                        </div>
                        <div class="form-group">
                            {{form.last_name.label_tag}}
                            {{form.last_name}}
                            {{form.errors.last_name}}
                        </div>
                        <div class="form-group">
                            {{form.email.label_tag}}
                            {{form.email}}
                            {{form.errors.email}}
                        </div>
                        <div class="form-group">
                            {{form.vinculacion.label_tag}}
                            {{form.vinculacion}}
                            {{form.errors.vinculacion}}
                        </div>
                        <div class="form-group">
                            {{form.departamento.label_tag}}
                            {{form.departamento}}
                            {{form.errors.departamento}}
                        </div>
                        <div class="form-group">
                            {{form.notas.label_tag}}
                            {{form.notas}}
                            {{form.errors.notas}}
                        </div>
                        <div class="form-group">
                            {{form.proyectos.label_tag}}
                            {{form.proyectos}}
                            {{form.errors.proyectos}}
                        </div>
                        <div class="form-group">
                            {{form.password1.label_tag}}
                            {{form.password1}}
                            {{form.errors.password1}}
                        </div>
                        <div class="form-group">
                            {{form.password2.label_tag}}
                            {{form.password2}}
                            {{form.errors.password2}}
                        </div>
                        <div class="form-check">
                            {{form.is_staff}}
                            {{form.is_staff.label_tag}}
                            {{form.errors.is_staff}}
                        </div>
                        <div class="form-check">
                            {{form.is_superuser}}
                            {{form.is_superuser.label_tag}}
                            {{form.errors.is_superuser}}
                        </div>


                        
                        <hr class="mb-2">
                        <div class="col">
                            
                            <input type="submit" value="Crear nuevo participante" class="btn btn-success float-right">
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>   
    </form>
</section>

{% endblock %}